App\Entity\Location:
    properties:
        city:
            - NotBlank:
                  message: 'Nazwa lokalizacji nie może być pusta.'
            - Length:
                  min: 2
                  max: 50
                  minMessage: 'Nazwa musi mieć co najmniej {{ limit }} znaki.'
                  maxMessage: 'Nazwa może mieć maksymalnie {{ limit }} znaków.'
        country:
            - NotBlank:
                  message: 'Nazwa kraju nie może być pusta.'
            - Length:
                  min: 2
                  max: 50
                  minMessage: 'Nazwa musi mieć co najmniej {{ limit }} znaki.'
                  maxMessage: 'Nazwa może mieć maksymalnie {{ limit }} znaków.'
        latitude:
            - NotBlank:
                  message: 'Szerokość geograficzna jest wymagana.'
            - Type:
                  type: numeric
                  message: 'Szerokość geograficzna musi być liczbą.'
            - Range:
                  min: -90
                  max: 90
                  notInRangeMessage: 'Szerokość geograficzna musi być między -90 a 90.'
        longitude:
            - NotBlank:
                  message: 'Długość geograficzna jest wymagana.'
            - Type:
                  type: numeric
                  message: 'Długość geograficzna musi być liczbą.'
            - Range:
                  min: -180
                  max: 180
                  notInRangeMessage: 'Długość geograficzna musi być między -180 a 180.'
