# config/validator/Location.yaml
App\Entity\Location:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
              fields: ['city', 'country']
              message: 'This city and country combination already exists.'

    create:
        properties:
            city:
                - NotBlank: ~
                - Length:
                      min: 2
                      max: 255
                      minMessage: 'City name must be at least {{ limit }} characters long.'
                      maxMessage: 'City name cannot be longer than {{ limit }} characters.'
            country:
                - NotBlank: ~
            latitude:
                - NotBlank: ~
                - Range:
                      min: -90
                      max: 90
                      minMessage: 'Latitude must be between -90 and 90.'
                      maxMessage: 'Latitude must be between -90 and 90.'
            longitude:
                - NotBlank: ~
                - Range:
                      min: -180
                      max: 180
                      minMessage: 'Longitude must be between -180 and 180.'
                      maxMessage: 'Longitude must be between -180 and 180.'

    edit:
        properties:
            city:
                - NotBlank: ~
                - Length:
                      min: 2
                      max: 255
                      minMessage: 'City name must be at least {{ limit }} characters long.'
                      maxMessage: 'City name cannot be longer than {{ limit }} characters.'
            country:
                - NotBlank: ~
            latitude:
                - NotBlank: ~
                - Range:
                      min: -90
                      max: 90
                      minMessage: 'Latitude must be between -90 and 90.'
                      maxMessage: 'Latitude must be between -90 and 90.'
            longitude:
                - NotBlank: ~
                - Range:
                      min: -180
                      max: 180
                      minMessage: 'Longitude must be between -180 and 180.'
                      maxMessage: 'Longitude must be between -180 and 180.'
